wordnikDefinitions.pyc
wwwsearch.pyc
XBMC.pyc
wolfram.pyc
whereAmI.pyc
weather.pyc
timerPlugin.pyc
timePlugin.pyc
startRequestHandler.pyc
smalltalk.pyc
phonecalls.pyc
notes.pyc
__init__.pyc
__init__.py
examplePlugin.pyc
displaypicture.pyc
alarmPlugin.pyc
brit-it.sh
